* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



#my-canvas {
    max-width: 100%;
    width: 80%;
    height: 80vh;
    box-shadow: 0 0 50px 0 #1b1b1b;
    margin: 25px 0;
}

.canvas-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.download {
    padding: 15px;
    outline: none;
}

.download:active {
    position: relative;
    top: 2px;
}